@import './modal';
@import './header';
@import './content';


$primary-color:#FF4141;
$primary-font:'Montserrat Alternates';

body {
    margin: 0;
    padding: 0;
}

#container {
    font-family: $primary-font;
}