$primary-color:#FF4141;
$primary-font:'Varela Round', sans-serif;

#container{
    font-family: $primary-font;
    
    #header{
        display: flex;
        #text{
            flex-direction: column;
            justify-content: center;
            display: flex;
            color: white;
            background-color: $primary-color;
            flex:6;
        
            div:first-child{
                justify-content: flex-start;
                display: flex; 
                flex: 1;
        
                a{
                    text-decoration: none;
                    text-align: center;
                    border-radius:1rem;
                    font-size: 1rem;
                    color:black;
                    margin-top: 1rem;
                    margin-right: 5rem;
                    background-color: white;
                    width: 5rem;
                    height: 2rem;
                }
        
                input{
                    outline: none;
                    margin-top: 1rem;
                    border-radius: 1rem;
                    text-align: center;
                    border: solid white;
                    &:focus{
                        margin-top: 1rem;
                        border-radius: 1rem;
                        text-align: center;
                        border: solid white;
                        color: black;
                    }
                }
            }
        
            div:nth-child(2){
                display: flex;
                flex:1;
        
                h2{
                    font-size: 100px;
                    margin-bottom: 5rem;
                }
            }
        
            p{
                font-size: 30px;
                margin-left: 1rem;
            }

            #pokeball{
                width: 90px;
                height: 90px;
                margin-left: 1rem;
                margin-right: 3rem;
            }
            
            button{
                // margin-top: 10px;
                width: 60px;
                height: 60px;
                border: none;
                background-color:$primary-color;
                // margin-right: 0rem;
            }
        }
        
        
        
        
        #image{
            background-color: $primary-color;
            flex:6;
            
        
            img{
                margin-left: 10rem;
                max-width: 100%;
                height: 100%;
            }
        }
    }

    #content1{
        display: flex;

        & div:first-child{
            flex: 1;
            img{
                margin: 2rem;
                width: 500px;
                height: 500px;  
              }
        }

        & div:nth-child(2){
            flex: 1;
            align-self: center;
            
            h1{
                font-size: 80px;
                color: $primary-color;
            }
        }

        
    }

    #content2{
        display: flex;

        & div:first-child{
            flex: 1;
            align-self: center;
            
            h1{
                font-size: 80px;
                color: $primary-color;
            }
        }

        & div:nth-child(2){
            flex: 1;
            img{
                margin: 2rem;
                width: 500px;
                height: 500px;  
              }
        }
    }

}

